.link {
    font-size: 18px;
    margin: 0 16px;
    transition: color 300ms ease;
    &:hover {
        cursor: pointer;
        &:not(.nav__link--active) {
            color: lighten(#265c73, 5%);
        }
    }
}

.link--active {
    font-weight: 600;
    text-shadow: 0 0 3px #663399;
    color: #663399;
}
