.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title {
        background: linear-gradient(to right, #663399 20%, #265c73 40%, #663399 60%, #265c73 80%);
        background-size: 200% 200%;
        background-clip: text;
        color: transparent;
        animation: animate-gradient 5s ease infinite;
    }

    .paragraph {
        font-size: 20px;
        margin-top: 32px;
        &:first-of-type {
            margin-top: 16px;
        }
        .anchor {
            cursor: pointer;
            text-decoration: none;
            color: #663399;
            font-weight: 600;
            transition: text-shadow 300ms ease;
            &:hover {
                text-shadow: 0 0 2px currentColor;
            }
        }
    }
}

@keyframes animate-gradient {
    0%,
    100% {
        background-position: left center;
    }
    50% {
        background-position: right center;
    }
}
