.text {
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title {
        background: linear-gradient(to right, #663399 20%, #265c73 40%, #663399 60%, #265c73 80%);
        background-size: 200% 200%;
        background-clip: text;
        color: transparent;
        animation: animate-gradient 5s ease infinite;
    }
    .description {
        margin-top: 8px;
        color: #ccc;
        font-size: 18px;
    }

    .anchor {
        text-decoration: none;
        color: #663399;
        font-weight: 600;
        transition: text-shadow 300ms ease;
        &:hover {
            text-shadow: 0 0 2px currentColor;
        }
    }

    .spotify__status {
        display: grid;
        place-items: center;
        width: 100%;
        margin-top: 96px;
        .spinner {
            margin-top: 96px;
            animation: animate-spinner 1s linear infinite;
        }
        .playing {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #1c1c1c;
            padding: 48px;
            border: 2px solid #265c73;
            border-radius: 16px;
            .playing--artist {
                margin-top: 40px;
                margin-bottom: 8px;
            }
            .playing--text {
                font-weight: 500;
            }
        }
        .not__playing {
            display: flex;
            flex-direction: column;
            align-items: center;
            .not__playing--text {
                font-weight: 500;
                margin-top: 16px;
            }
        }
    }
}

@keyframes animate-gradient {
    0%,
    100% {
        background-position: left center;
    }
    50% {
        background-position: right center;
    }
}

@keyframes animate-spinner {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
