.link {
    font-size: 18px;
    margin: 0 16px;
    transition: color 300ms ease;
    &:hover {
        cursor: pointer;
        &:not(.link--active) {
            text-shadow: 0 0 3px lighten(#265c73, 5%);
            color: lighten(#265c73, 5%);
        }
    }
}

.link--active {
    text-shadow: 0 0 3px #663399;
    color: #663399;
}
