@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: #fff;
}

body,
html {
    scroll-snap-type: y mandatory;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #171717;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

@media (max-width: 768px) {
    .row {
        margin: 0 48px;
        width: 80%;
    }
}
